.vscode
build/cmake_install.cmake
build/CMakeCache.txt
build/irc-chat.exe
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.28.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.28.0-rc1/CompilerIdCXX/a.exe
build/CMakeFiles/3.28.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/irc-chat.dir/build.make
build/CMakeFiles/irc-chat.dir/cmake_clean.cmake
build/CMakeFiles/irc-chat.dir/compiler_depend.make
build/CMakeFiles/irc-chat.dir/compiler_depend.ts
build/CMakeFiles/irc-chat.dir/depend.make
build/CMakeFiles/irc-chat.dir/DependInfo.cmake
build/CMakeFiles/irc-chat.dir/flags.make
build/CMakeFiles/irc-chat.dir/includes_CXX.rsp
build/CMakeFiles/irc-chat.dir/link.txt
build/CMakeFiles/irc-chat.dir/linkLibs.rsp
build/CMakeFiles/irc-chat.dir/objects.a
build/CMakeFiles/irc-chat.dir/objects1.rsp
build/CMakeFiles/irc-chat.dir/progress.make
build/CMakeFiles/irc-chat.dir/src/client.cpp.obj
build/CMakeFiles/irc-chat.dir/src/client.cpp.obj.d
build/CMakeFiles/irc-chat.dir/src/main.cpp.obj
build/CMakeFiles/irc-chat.dir/src/main.cpp.obj.d
build/CMakeFiles/irc-chat.dir/src/server.cpp.obj
build/CMakeFiles/irc-chat.dir/src/server.cpp.obj.d
build/CMakeFiles/irc.dir/build.make
build/CMakeFiles/irc.dir/cmake_clean.cmake
build/CMakeFiles/irc.dir/compiler_depend.make
build/CMakeFiles/irc.dir/compiler_depend.ts
build/CMakeFiles/irc.dir/depend.make
build/CMakeFiles/irc.dir/DependInfo.cmake
build/CMakeFiles/irc.dir/flags.make
build/CMakeFiles/irc.dir/includes_CXX.rsp
build/CMakeFiles/irc.dir/link.txt
build/CMakeFiles/irc.dir/linkLibs.rsp
build/CMakeFiles/irc.dir/objects.a
build/CMakeFiles/irc.dir/objects1.rsp
build/CMakeFiles/irc.dir/progress.make
build/CMakeFiles/irc.dir/src/client.cpp.obj
build/CMakeFiles/irc.dir/src/client.cpp.obj.d
build/CMakeFiles/irc.dir/src/main.cpp.obj
build/CMakeFiles/irc.dir/src/main.cpp.obj.d
build/CMakeFiles/irc.dir/src/server.cpp.obj
build/CMakeFiles/irc.dir/src/server.cpp.obj.d
